.cardContainer {
    width: 32%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 5px 7px 34px -14px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 5px 7px 34px -14px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 5px 7px 34px -14px rgba(0, 0, 0, 0.55);
}

.priceWrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .cardContainer{
        width: 41%;
    }
}

@media only screen and (max-width: 450px) {
    .cardContainer{
        width: 100%;
    }
}