:root{
  --primary-brand-color: #009867;
  --max-width-site: 1024px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
}

h1,h2,h3{
  font-family: 'Noto Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.addToCartButton{
  padding: 10px 40px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.13s ease-in;
}

.addToCartButton:hover{
  background-color: rgb(17, 201, 17)
}

.addToCartButton-big{
  padding: 15px 70px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 2px;
  cursor: pointer;
}

.error-mesage-gbl{
  text-align: "center"; 
  padding: "50px"
}

.wrapper-gbl{
  min-height: 75vh;
}